a button {
	text-decoration: none;
}
.table{
	border: solid 1px grey;
}
.table-header {
	color: white;
	background-color: black;
}
.table-img{
	max-height: 100%;
	max-width: 100%;
}

@media only screen and (max-width: 600px){

}